blessed==1.19.1
bsdiff4==1.2.1
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.1.2
enlighten==1.10.2
Flask==2.1.1
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
payload-dumper==0.2.2
prefixed==0.3.2
protobuf==3.19.4
requests==2.27.1
six==1.16.0
urllib3==1.26.8
wcwidth==0.2.5
Werkzeug==2.1.1
ytmusicapi==0.20.0
zipp==3.8.0
